<div class="mt-4">
    <h3>KHÓA HỌC CỦA TÔI</h3>
    <table class="table table-striped mt-4">
        <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Video</th>
                <th scope="col" colspan="2">Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.videoId }}</td>
                <td>{{ this.createdAt }}</td>
                <td>
                    <a href="/courses/{{ this._id }}/edit" class="btn btn-primary">Sửa</a>
                    <a href="" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>