<div class="mt-4">
    <h3>THÙNG RÁC</h3>
    <a href="/me/stored/courses" class="btn btn-primary mt-2">
        <i class="fas fa-chevron-left me-2"></i>
        Trở về danh sách khóa học
    </a>
    <table class="table table-striped mt-4">
        <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Video</th>
                <th scope="col" colspan="2">Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.videoId }}</td>
                <td>{{ this.createdAt }}</td>
                <td>
                    <a 
                        href="/courses/{{ this._id }}/edit" 
                        class="btn btn-link btn-restore"
                        data-id="{{ this._id }}"
                    >Khôi phục</a>
                    <a 
                        href=""
                        class="btn btn-link"
                        data-bs-toggle="modal"
                        data-bs-target="#course-delete-modal"
                        data-id="{{ this._id }}"
                    >Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Không có khóa học nào trong thùng rác. 
                    <a href="/me/stored/courses">Xem danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete modal --}}
<div class="modal fade" id="course-delete-modal" tabindex="-1" aria-labelledby="course-delete-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="course-delete-modalLabel">Xác nhận xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Thao tác này <span class="fw-bold">không thể khôi phục</span>, bạn vẫn muốn tiếp tục xóa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>

    var courseId;
    var courseDeleteModal = document.getElementById('course-delete-modal');
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var deleteCourseForm = document.forms['delete-course-form'];
    var restoreCourseForm = document.forms['restore-course-form'];
    var btnRestore = $('.btn-restore');

    // Get course id when delete button was clicked
    courseDeleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        courseId = button.getAttribute('data-id');
    });

    // Send delete request when button on confirm dialog was clicked
    btnDeleteCourse.onclick = function() {
        deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        deleteCourseForm.submit();
    };

    // Event listener when restore button was clicked, use jquery
    btnRestore.click(function(event) {
        event.preventDefault();
        courseId = $(this).data('id');
        restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        restoreCourseForm.submit();
    });

</script>